<!DOCTYPE html>
<html>
<head>
	<title> View Data</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
	<div class="banner">
		<h1>View Data</h1>
    <p>(View in Google Chrome)</p>
	</div>
	<div class="navigationMenu">
  		<a href="/search">Search Data</a>
  		<div class="dropdown">
  			<a class="activeNav" href="/view">View Data</a>
  		<div class="dropdownList">
  			<a href="/view/movies">Movies</a>
  			<a href="/view/actors">Actors</a>
  			<a href="/view/characters">Characters</a>
  			<a href="/view/roles">Roles</a>
  			<a href="/view/studios">Studios</a>
  			<a href="/view/scores">Scores</a>
  		</div>
  		</div>
  </div>

  <br><br><br><br><br>

{{{body}}}
</body>
</html>