<body>

<h2>Search Results:</h2>
<table class="outputTable">
	<thead>
		<th>Name</th>
		<th>Creation Date</th>
		<th>Villian?</th>
	</thead>
	<tbody>
		{{#each movies}}
		<tr>
			<td>{{this.character_name}}</td>
		</tr>
		{{/each}}
	</tbody>
</table>

</body>