<div class="searchForm">
<table class="outputTable">
<h2>Roles:</h2>
<table class="outputTable">
	<thead>
	<tr>
		<th>Movie ID</th>
		<th>Character</th>
		<th>Actor</th>
		<th>Main Role?</th>
	</tr>
	</thead>
	<tbody>
		{{#each roles}}
		<tr>
			<td>{{this.movie_id}}</td>
			<td>{{this.character_name}}</td>
			<td>{{this.actor_name}}</td>
			<td>{{this.main_role}}</td>
		</tr>
		{{/each}}
	</tbody>
</table><br>
</div><br><br>

<div class="manageForm">
  <h2>Manage:</h2>
  <form action="http://flip1.engr.oregonstate.edu:6547/manage/manageRoles" method="POST">
    <label>Movie ID*:</label>
    <input type="text" name="roleMovie"><br>
    <label>Actor:</label>
    <input type="text" name="roleActor"><br>
    <label>Character*:</label>
    <input type="text" name="roleChar"><br>
    <label>Main Role?</label>
    <input type="checkbox" name="roleMain"><br><br>
    <p>* = required attribute</p>

    <input type="submit" name="iRole" value="Insert Role">
    <input type="submit" name="uRole" value="Update Role">
    <input type="submit" name="dRole" value="Delete Role">
    <br><br>
  </form>
</div><br>